<h5>Free Walking Tour ツアー詳細　お問い合わせ内容</h5>

<p>-------------------------------------------</p>

<P>問い合わせツアー</P>
<p><%= @tour_contact.tour.title %></p>

<p>お名前：</P>
<p><%= @tour_contact.name %></p>

<p>連絡先メールアドレス：</P>
<p><%= @tour_contact.email %></p>

<p>件名：</P>
<p><%= @tour_contact.title %></p>

<p>お問い合わせ内容：</p>
<p><%= @tour_contact.message %></p>

<p>-------------------------------------------</p>