<!-- 未完成、未確認 -->
<div class="profile-edit-wrapper">
  <div class="container">
    <div class="col-md-offset-4 col-md-4">
      <h3><%= @profile.user.name %>さんのプロフィール(編集)</h3>
      <%= form_for @profile, url: profiles_edit_path do |f| %>
        <div class="s3_edit">
          <% if @profile.image.blank? %>
            <%= image_tag @profile.image.to_s, class: "image-size" %>
          <% else %>
            <%= image_tag 'rails.png', class: "image-size" %>
          <% end %>
          <div>
            <%= f.label :image, "画像：" %>
            <%= f.file_field :image %>
          </div>
        </div>
        <dl>
          <div class="profile-form">
            <dt><h6>＜プロフィール文＞</h6></dt>
            <dd><%= f.text_field :body, class: 'profile-body-form' %></dd>
            <dd><%= f.submit "更新", class: "btn btn-updated" %></dd>
          </div>
        </dl>
      <% end %>
    </div>
  </div>
</div>