<div class="profile-edit-wrapper">
  <div class="container">
    <div class="row">
      <h3 class="text-center"><%= @profile.user.name %>さんのプロフィール(編集)</h3>
      <div class="col-sm-offset-3 col-sm-5">
        <%= form_for @profile, url: profiles_edit_path do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="profile-image text-center">
            <%= image_tag @profile.image.to_s, class: "image-size" %>
          </div>
          <div class="image-select">
            <%= f.label :image, "画像：" %>
            <%= f.file_field :image %>
          </div>
          <div class="profile-form">
            <h6>＜プロフィール文＞</h6>
            <%= f.text_area :body, rows: 5, class: 'profile-body-form form-control' %>
            <%= f.submit "更新", class: "btn btn-updated" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>