<div class="profile-wrapper">
  <div class="profile-container">
    <div class="row">
      <h3>プロフィール</h3>
      <div class="left-main-container">
        <div class="profile-image">
          <% if !@profile.image.nil? %>
            <%= image_tag @profile.image.to_s, class: "image-size" %>
          <% else %>
            <%= image_tag 'rails.png', class: "image-size" %>
          <% end %>
        </div>
      </div>
      <div class="right-main-container">
        <div class="profile-name">
          <h6>＜お名前＞</h6>
          <%= current_user.name %>
        </div>
        <div class="profile-body">
          <h6>＜プロフィール文＞</h6>
          <% if @profile.body? %>
            <span class="profile-body"><%= @profile.body %></span>
          <% else %>
            <p>プロフィール文がありません</p>
          <% end %>
          <div>
            <%= link_to "プロフィールを編集する", profiles_edit_path %><br>
            <%= link_to '戻る', :back, class: "back-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>