<div class="profile-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
      <h3><%= @profile.user.name %>さんのプロフィール</h3>
        <div class="profile-image">
          <%= image_tag @profile.image.to_s, class: "image-size" %>
        </div>
        <div class="profile-body">
          <h6>＜プロフィール文＞</h6>
          <% if @profile.body? %>
            <span class="profile-body"><%= @profile.body %></span>
          <% else %>
            <p>プロフィール文がありません</p>
          <% end %>
          <div>
            <% if @profile.user == current_user %>
              <%= link_to "プロフィールを編集する", profiles_edit_path(current_user.id) %><br>
            <% end %>
          </div>
          <%= link_to '戻る', :back, class: "back-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>