<div class="profile-wrapper">
  <div class="profile-container">
    <div class="row">
      <h3>プロフィール</h3>
      <div class="left-main-container">
        <div class="profile-image">
          <% if @profile.image.blank? %>
            <%= image_tag @profile.image.to_s, class: "image-size" %>
          <% else %>
            <%= image_tag 'Kyoto.jpg', class: "image-size" %>
          <% end %>
        </div>
      </div>
      <div class="right-main-container">
        <div class="profile-name">
        　<div>
            <p>＜お名前＞</p>
          </div>
          <div>
            <%= current_user.name %>
          </div>
        </div>
        <div class="profile-body">
          <div>
            <p>＜プロフィール文＞</p>
          </div>
          <div>
            <% if @profile.body? %>
              <span class="profile-body"><%= @profile.body %></span>
            <% else %>
              <%= link_to "プロフィールを編集する", '#' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>