<div class="profile-wrapper">
  <div class="profile-container">
    <div class="row">
      <h1>プロフィール</h1>
      <div class="left-main-container">
        <div class="profile-image">
          <% if @profile.user_image.exists? %>
            <%= image_tag @profile.user_image.to_s, class: "profile-image" %>
          <% else %>
            <%= image_tag 'Kyoto.jpg', class: "profile-image" %>
            <%= link_to "プロフィール画像をアップロードする", '#' %>
          <% end %>
        </div>
      </div>
      <div class="right-main-container">
        <div class="profile-name">
          <%= current_user.name %>
        </div>
        <div class="profile-profile">
          <% if @profile.user_profile? %>
            <span class="profile-body"><%= @profile.user_profile %></span>
          <% else %>
            <%= link_to "プロフィールを作成する", '#' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>