<div class="login-wrapper">
  <div class="login-container">
    <div class="row">
      <div class="col-md-offset-4 col-md-6">
        <h1 class="title-log-in">Log In</h1>
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: 'text-white' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'text-white' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div>
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
        <p>新規登録がまだの方→ <%= link_to "Sign Up!", signup_path %></p>
      </div>
    </div>
  </div>
</div>