<div class="tour-new-wrapper">
  <div class="tour-new-container container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h3>開催するツアーの作成</h3>
        <%= form_for @tour, url: tours_path do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="tour-title">
            <%= f.label :title, "ツアー名" %>
            <%= f.text_field :title, class: 'tour-input-form form-control' %>
          </div>
          <div class="tour-date">
            <%= f.label :date, "ツアー開催日時" %>
            <%= f.datetime_field :date, class: "datetimepicker-input form-control" %>
          </div>
          <div class="tour-detail">
            <%= f.label :detail, "ツアーの詳細" %>
            <%= f.text_field :detail, class: 'tour-input-form form-control' %>
          </div>
          <div class="tour-address">
            <%= f.label :address, "ツアーの集合場所" %>
            <%= f.text_field :address, class: 'tour-input-form form-control' %>
          </div>
          <div class="tour-images">
            <%= f.label :images, "ツアーに関する写真" %>
            <p>ツアーで回る場所の写真や、過去のツアーの写真をアップロードできます(8枚まで)</p>
            <%= f.file_field :images, multiple: true %>
          </div>
          <div>
            <%= f.submit "登録する" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>