<div class="tour-wrapper">    
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h3>ツアーインフォメーション</h3>
        <div class="tour-title-show">
          <h5>＜ツアー名＞</h5>
          <%= @tour.title %>
        </div>
        <div class="tour-guid-show">
          <h5>＜ツアー主催者＞</h5>
          <%= link_to @tour.user.name, profiles_show_path(@tour.user.id) %>
        </div>
        <div class="tour-date-show">
          <h5>＜ツアー開催日時＞</h5>
          <%= l @tour.date %>
        </div>
        <div class="tour-detail-show">
          <h5>＜ツアー内容＞</h5>
          <%= @tour.detail %>
        </div>
        <div class="tour-address-show">
          <h5>＜集合場所＞</h5>
          <%= @tour.address %>
          <script defer src="https://maps.googleapis.com/maps/api/js?key=ENV['MAP_API']&callback=initMap"></script>
          <script type="text/javascript">
          
            function initMap() {
            //latitude,longitudeから位置を特定
              var test ={lat: <%= @tour.latitude %>, lng: <%= @tour.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                center: test
                zoom: 15,
              });
              
              var transitLayer = new google.maps.TransitLayer(); //ここから40行まで必要か謎
              transitLayer.setMap(map);

              var contentString = '集合場所：<%= @tour.address %>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

               //Map上の指定した位置にピンを挿して表示する
              var marker = new google.maps.Marker({
                position: test,
                map: map
                title: contentString
               });

              marker.addListener('click', function() { //ここから下必要か謎
                infowindow.open(map, marker);
              });
            }
          </script>
        </div>
        <% if logged_in? && @tour.user_id == current_user.id %>
          <div class="tour-btn">
            <%= link_to "ツアー内容を変更する", edit_tour_path %>
          </div>
          <div class="tour-btn">
            <%= link_to "ツアーを削除する", tour_path, method: :delete %>
          </div>
        <% else %>
          <div class="tour-contact">
            <h5>＜お問い合わせ＞</h5>
            <P>このツアーに関してのお問い合わせは<%= link_to "こちら", tour_contacts_new_path %></P>
          </div>
          <% if @tour.joined_users.include?(current_user) %> <!--ツアーの参加者リストにcurrent_userがいたら以下を実行 -->
            <%= link_to user_tours_destroy_path(tour_id: @tour.id) do %>
              <button class="btn plan-btn">このツアーの参加をキャンセルする</button>
            <% end %>
          <% else %>
            <%= link_to user_tours_create_path(tour_id: @tour.id) do %>
              <button class="btn plan-btn">このツアーに参加する</button>
            <% end %>
          <% end %>
          <div class="write-review">
            <% if !@tour.reviewed_users.include?(current_user) %> <!--レビューしたユーザーの中にcurrent_userがいなかったら以下を実行 -->
              <%= link_to "このツアーのレビューを書く", new_tour_review_path(tour_id: @tour.id) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="star-rate">
        <p>＜このツアーの総合評価＞</p>
        <% if @tour.reviews.present? %>
          <script>
            $('.star-rate').raty({
              size: 40,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @tour.reviews.average(:rate).to_f.round(1) %>,
            });
          </script>
          <%= link_to "口コミを見る", tour_reviews_path(tour_id: @tour.id) %>
        <% else %>
         <p>評価がありません</p>
        <% end %>
      </div>
    <div>
  <div>
<div>