<div class="tour-wrapper">    <!-- ユーザーがツアー作成後に見れる画面 -->
  <div class="tour-container">
    <div class="row">
      <div class="col-md-offset-4 col-md-6">
        <h3>ツアーインフォメーション</h3>
        <div class="tour-title-show">
          <h5>＜ツアー名＞</h5>
          <%= @tour.title %>
        </div>
        <div class="tour-date-show">
          <h5>＜ツアー開催日時＞</h5>
          <%= @tour.date %>
        </div>
        <div class="tour-detail-show">
          <h5>＜ツアー内容＞</h5>
          <%= @tour.detail %>
        </div>
        <div class="tour-address-show">
          <h5>＜集合場所＞</h5>
          <%= @tour.address %>
          <script defer src="https://maps.googleapis.com/maps/api/js?key=ENV['API-key-google-map']&callback=initMap"></script>
          <script type="text/javascript">
            function initMap() {
            //latitude,longitudeから位置を特定
              var test ={lat: <%= @tour.latitude %>, lng: <%= @tour.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                center: test
                zoom: 15,
              });
              
              var transitLayer = new google.maps.TransitLayer(); //ここから40行まで必要か謎
              transitLayer.setMap(map);

              var contentString = '集合場所：<%= @tour.address %>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

               //Map上の指定した位置にピンを挿して表示する
              var marker = new google.maps.Marker({
                position: test,
                map: map
                title: contentString
               });

              marker.addListener('click', function() { //ここから下必要か謎
                infowindow.open(map, marker);
              });
            }
          </script>
        </div>
        <% if organizer? %>
          <div class="tour-btn">
            <%= link_to "ツアー内容を変更する", edit_user_tour_path %>
          </div>
          <div class="tour-btn">
            <%= link_to "ツアーを削除する", user_tour_path, method: :delete %>
          </div>
        <% else %>
          <div class="tour-contact">
            <p>ツアーに関してのお問い合わせはこちら</p>
            <%= link_to "問い合わせ", '#' %>
          </div>
          <%= link_to "ツアーに参加する", '#' %>
        <% end %>
      <div>
    <div>
  <div>
<div>