<% content_for(:body_attributes) do %>　<!--　このページでtourbolinksを無効化する -->
    data-turbolinks="false"
<% end %>
<div class="tour-wrapper">    
  <div class="tour-show-container container">
    <div class="row">
      <h3 class="text-center">ツアーインフォメーション</h3>
      <div class="col-sm-offset-3 col-sm-6">
        <div class="tour-title-show">
          <h5>＜ツアー名＞</h5>
          <%= @tour.title %>
        </div>
        <div class="tour-guid-show">
          <h5>＜ツアー主催者＞</h5>
          <%= link_to @tour.user.name, profiles_show_path(@tour.user.id) %>
        </div>
        <div class="tour-date-show">
          <h5>＜ツアー開催日時＞</h5>
          <%= l @tour.date %>
        </div>
        <div class="tour-detail-show">
          <h5>＜ツアー内容＞</h5>
          <%= @tour.detail %>
        </div>
        <div class="tour-address-show">
          <h5>＜集合場所＞</h5>
          <%= @tour.address %>
          <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>"></script>
              <script>
                function map_canvas() {
                    var data = new Array();
                    data.push({
                        lat: <%= @tour.latitude %>, //緯度
                        lng: <%= @tour.longitude %>, //経度
                        content: '集合場所' //情報ウィンドウ
                    });
                    var latlng = new google.maps.LatLng(data[0].lat, data[0].lng);
                    var opts = {
                        zoom: 15,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("map"), opts);
                     var markers = new Array();
                    for (i = 0; i < data.length; i++) {
                        markers[i] = new google.maps.Marker({
                            position: new google.maps.LatLng(data[i].lat, data[i].lng),
                            map: map
                        });
                        markerInfo(markers[i], data[i].content);
                    }
                }
                function markerInfo(marker, name) {
                    new google.maps.InfoWindow({
                        content: name
                    }).open(marker.getMap(), marker);
                }
                google.maps.event.addDomListener(window, 'load', map_canvas);
              </script>
        </div>
        <div class="tour-images-show">
          <h5>＜ツアーに関する写真＞</h5>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% unless @tour.images.nil? %>
                <% @tour.images.each do |image| %>
                  <div class="swiper-slide"><%= image_tag image.to_s, class: "slide-image" %></div>
                <% end %>
              <% end %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          
          <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
          <script>
            var swiper = new Swiper('.swiper-container', {
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
            });
          </script>
        </div>
        <% if logged_in? && @tour.user_id == current_user.id %>
          <div class="tour-btn">
            <%= link_to "ツアー内容を変更する", edit_tour_path %>
          </div>
          <div class="tour-btn">
            <%= link_to "ツアーを削除する", tour_path, method: :delete %>
          </div>
        <% else %>
          <div class="tour-contact">
            <h5>＜お問い合わせ＞</h5>
            <P>このツアーに関してのお問い合わせは<%= link_to "こちら", tour_contacts_new_path %></P>
          </div>
          <% if @tour.joined_users.include?(current_user) %> <!--ツアーの参加者リストにcurrent_userがいたら以下を実行 -->
            <%= link_to user_tours_destroy_path(tour_id: @tour.id) do %>
              <button class="btn plan-btn", data-turbolinks="false">このツアーの参加をキャンセルする</button>
            <% end %>
          <% else %>
            <%= link_to user_tours_create_path(tour_id: @tour.id) do %>
              <button class="btn plan-btn", data-turbolinks="false">このツアーに参加する</button>
            <% end %>
          <% end %>
          <div class="write-review">
            <% if !@tour.reviewed_users.include?(current_user) %> <!--レビューしたユーザーの中にcurrent_userがいなかったら以下を実行 -->
              <%= link_to "このツアーのレビューを書く", new_tour_review_path(tour_id: @tour.id) %>
            <% end %>
          </div>
        <% end %>
        <div class="star-rate">
          <p>＜このツアーの総合評価＞</p>
          <% if @tour.reviews.present? %>
            <script>
              $('.star-rate').raty({
                size: 40,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @tour.reviews.average(:rate).to_f.round(1) %>,
              });
            </script>
            <%= link_to "口コミを見る", tour_reviews_path(tour_id: @tour.id) %>
          <% else %>
           <p>評価がありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>