<div class="tour-contact-wrapper">
  <div class="tour-contact-container container">
    <h3 class="text-center">お問い合わせフォーム</h3>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= form_for @tour_contact, url: tour_contacts_create_path do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <p class="tour-contact-tour-title">ツアー名</p>
            <%= @tour_contact.tour.title %>
            <%= f.hidden_field :tour_id, value: @tour_contact.tour_id %>
            <div class="tour-contact-form">
              <%= f.label :name, "お名前" %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="tour-contact-form">
              <%= f.label :email, "連絡先メールアドレス" %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="tour-contact-form">
              <%= f.label :title, "件名" %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>
            <div class="tour-contact">
              <%= f.label :message, "お問い合わせ内容" %>
              <%= f.text_area :message, rows: 7, class: 'form-control' %>
            </div>
            <div>
              <%= f.submit "送信", class: "btn btn-send" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
