<div class="users-wrapper">
  <div class="users-container container">
    <h3>ユーザー一覧</h3>
    <h6>※プロフィールを作成していないユーザーのプロフィールは開けません</h6>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        
        <div class="user-search">
          <%= form_tag(admin_users_path, method: :get) do %>  
            <%= text_field_tag :search, params[:search] %>  
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        </div>
        <% if @search_users %>
          <% @search_users.each do |user| %>
            <div class="user-list">
              <li>
                <span class="user-list-name"><%= link_to_unless(user.profile.nil?, user.name, profiles_show_path(user.id)) %></span> <!--プロフィールがnilでなければ、プロフィールページにリンクできる -->
                <% if current_user.admin? && !(current_user == user) %> <!--Admin userの場合はdeleteボタンを表示する -->
                  <span class="user-list-delete"><%= link_to "削除", admin_user_path(user.id), method: :delete, data: { confirm: "You sure?" } %></span>
                <% end %>
              </li>
            </div>
          <% end %>
        <% end %>
        
      </div>
    </div>
  </div>
</div>