<div class="inquiry-wrapper">
  <div class="inquiry-container container">
    <div class="row">
      <h3 class="text-center">お問い合わせフォーム</h3>
      <div class="col-md-offset-4 col-md-4">
        <%= form_for @inquiry do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
            <div class="inquiry-form">
              <%= f.label :name, "お名前" %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="inquiry-form">
              <%= f.label :email, "連絡先メールアドレス" %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="inquiry-form">
              <%= f.label :title, "件名" %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>
            <div class="inquiry-form">
              <%= f.label :message, "お問い合わせ内容" %>
              <%= f.text_area :message, rows: 7, class: 'inquery-message-form form-control' %>
            </div>
          <%= f.submit "送信", class: "btn btn-send" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
