<div class="review-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <h3 class="page-title text-center">レビュー</h3>
        <div class="review-contents">
          <div class="review-tour">
            <P>＜ツアー名＞</P>
            <%= @review.tour.title %>
          </div>
          <div class="review-user">
            <p>＜レビュー投稿者＞</p>
            <p><%= @review.user.name %>さん</p>
          </div>
          <p>＜評価＞</p>
          <p><%= @review.rate %>点 </p>
          <div id="star-rate"></div>
          <script>
            $('#star-rate').raty({
              size: 40,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @review.rate %>,
            });
          </script>
          <%= @review.body %>
          <p><%= l @review.created_at %></p>
        </div>
        <div class="revie-edit-btn">
          <% if current_user.id == @review.user_id %>
            <%= link_to "編集", edit_tour_review_path %>
            <%= link_to "削除", tour_review_path, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
