<!DOCTYPE html>
<html>
  <head>
    <title>FreeWalkingTour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-top navbar-inverse">
      <div class="container">
        <%= link_to "FREE WALKING TOUR JP",'#', id:"logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div class="main">
      <%= yield %>
    </div>
    
  </body>
</html>
