<!DOCTYPE html>
<html>
  <head>
    <title>FreeWalkingTour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <meta name=”viewport” content=”width=device-width, initial-scale=1, user-scalable=yes”> <!--user-scalableは画面拡大ができるようにする -->
    
  </head>
  
  <body>
    <%= render 'layouts/header' %>
    
    <div class="main">
      <% flash.each do |message_type, message| %>  <!-- flashメッセージがある場合に表示させる -->
        <div class="alert alert-<%= message_type %>" role="alert"><%= message %></div>
      <% end %>
      <script>
        $(function() { //flashメッセージの設定
          $(".alert").fadeOut(4000);
        });
      </script>
      
      <%= yield %>
    </div>
    
    
    <%= render 'layouts/footer' %>
    
  </body>
</html>
