<!DOCTYPE html>
<html>
  <head>
    <title>FreeWalkingTour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-top navbar-inverse">
      <div class="container">
        <%= link_to "FREE WALKING TOUR JP",'root_path', id:"logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", 'root_path' %></li>
            <li><%= link_to "About", 'pages_about_path' %></li>
            <li><%= link_to "Contact", 'pages_contact_path' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div class="main">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>" role="alert"><%= message %></div>
      <% end %>
      
      <%= yield %>
      
      <script>
        $(function() {
          $(".alert").fadeOut(4000);
        });
      </script>
    </div>
    
  </body>
</html>
